{% extends 'base.html.twig' %}

{% block title %}{{ 'terms.title'|trans }}{% endblock %}

{% block body %}
    <div class="container my-5">
        <p>{{ 'terms.content'|trans|raw }}</p>
    </div>
{% endblock %}